Repository gonzur/chatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, gofmt

prettier:
  name: format javascript files
  language: system
  entry: npx prettier --write

eslint:
  name: lint javascript files
  language: system
  entry: npx eslint --fix

gofmt:
  name: format golang files
  language: system
  entry: gofmt -s -w

chatbox initialized
  chatter_client/src/components/ChatBox/ChatBox.js
  chatter_client/src/components/ChatBox/index.js
  chatter_server/.gitignore
Due: prettier, eslint

chatbox requirements defined
  chatter_client/.eslintrc.js
  chatter_client/package-lock.json
  chatter_client/package.json
  chatter_client/src/App.js
  chatter_client/src/components/ChatBox/ChatBox.js
Due: prettier, eslint

init frontend dev setup
  chatter-client/.eslintrc.js
  chatter-client/.gitignore
  chatter-client/.npmrc
  chatter-client/.storybook/main.js
  chatter-client/.storybook/preview.js
  chatter-client/README.md
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/public/favicon.ico
  chatter-client/public/index.html
  chatter-client/public/logo192.png
  chatter-client/public/logo512.png
  chatter-client/public/manifest.json
  chatter-client/public/robots.txt
  chatter-client/src/App.css
  chatter-client/src/App.test.tsx
  chatter-client/src/App.tsx
  chatter-client/src/index.css
  chatter-client/src/index.tsx
  chatter-client/src/logo.svg
  chatter-client/src/react-app-env.d.ts
  chatter-client/src/reportWebVitals.ts
  chatter-client/src/setupTests.ts
  chatter-client/tsconfig.json
  chatter_client/.eslintrc.js
  chatter_client/README.md
  chatter_client/package-lock.json
  chatter_client/package.json
  chatter_client/src/components/ChatBox/ChatBox.js
  chatter_client/src/components/ChatBox/index.js
  chatter_client/src/index.css
Due: prettier, eslint

skeleton and chat history look
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.css
  chatter-client/src/App.module.css
  chatter-client/src/App.tsx
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.module.css
  chatter-client/src/components/ChatClient/index.ts
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/ChatInput/index.ts
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
  chatter-client/src/components/HistoryView/index.ts
  chatter-client/src/components/index.ts
  chatter-client/src/data/mock/dummyMessageList.ts
  chatter-client/src/data/mock/index.ts
  chatter-client/src/data/types/Message.ts
  chatter-client/src/data/types/index.ts
  package-lock.json
  package.json
Due: none

tsx, ts, css files now linted
  .pre-commit-config.yaml
  chatter-client/src/index.css
  chatter-client/src/reportWebVitals.ts
  chatter-client/src/setupTests.ts
Due: none

redundant component removed
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: none

first of client visuals done
  chatter-client/.eslintrc.js
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.test.tsx
  chatter-client/src/App.tsx
  chatter-client/src/colors.css
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.module.css
  chatter-client/src/components/ChatInput/ChatInput.module.css
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter_server/go.mod
  chatter_server/go.sum
  package-lock.json
  package.json
Due: prettier, eslint

temp
  chatter-client/src/App.tsx
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.test.tsx
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
  chatter-client/src/hooks/index.ts
  chatter-client/src/hooks/useTwelveHourDate.ts
Due: none

linting added
  .github/workflows/protect-develop.yml
  Makefile
  chatter_server/.golangci.yml
Due: none

println removed
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: gofmt

discard irrelevant todo
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: gofmt

fixup! discard irrelevant todo
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: gofmt

fixup! fixup! discard irrelevant todo
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: gofmt

fixup! fixup! fixup! discard irrelevant todo
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: gofmt

added testing & updated package.json
  .github/workflows/protect-develop.yml
  chatter-client/.eslintrc.js
  chatter-client/.npmrc
  chatter-client/.storybook/main.js
  chatter-client/.storybook/preview.js
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.test.tsx
Due: prettier, eslint

Setup CI/CD using Actions (#4)
  .github/workflows/protect-develop.yml
  Makefile
  chatter-client/.eslintrc.js
  chatter-client/.npmrc
  chatter-client/.storybook/main.js
  chatter-client/.storybook/preview.js
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.test.tsx
  chatter_server/.golangci.yml
  chatter_server/internal/chatrooms/chatrooms_test.go
Due: prettier, eslint, gofmt

added with: to golangci
  .github/workflows/protect-develop.yml
Due: none

fixed scripts
  .github/workflows/protect-develop.yml
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

Patched CI/CD (#5)
  .github/workflows/protect-develop.yml
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

Removed StoryBook
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

Removed StoryBook (#6)
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

capitalized Server
  .github/workflows/protect-develop.yml
Due: none

Spelling error (#7)
  .github/workflows/protect-develop.yml
Due: none

message accepted with unit test
  chatter-client/.eslintrc.js
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.test.tsx
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: prettier, eslint

false hook moved to helpers
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/helpers/format/formatToTwelveHourDate.ts
  chatter-client/src/helpers/format/index.ts
  chatter-client/src/hooks/index.ts
Due: none

Message Context added needs testing
  chatter-client/src/contexts/MessageContext.tsx
Due: none

memoized messages
  chatter-client/src/contexts/MessageContext.tsx
Due: none

joins to backend w/errors
  Makefile
  chatter-client/src/App.tsx
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.test.tsx
  chatter-client/src/contexts/MessageContext.tsx
  chatter-client/src/helpers/format/formatToTwelveHourDate.ts
  chatter_server/cmd/development/main.go
  chatter_server/internal/routes/chat.go
Due: gofmt

moved files, reduced packages
  chatter_server/cmd/development/main.go
  chatter_server/internal/chatrooms/chatrooms.go
  chatter_server/internal/chatrooms/chatrooms_test.go
  chatter_server/internal/chatrooms/constants.go
  chatter_server/internal/chatrooms/member.go
  chatter_server/internal/chatrooms/room.go
  chatter_server/internal/chatrooms/routes.go
  chatter_server/internal/chatrooms/sockconst/sockconst.go
  chatter_server/internal/routes/chat.go
Due: gofmt

redid make recipes
  .pre-commit-config.yaml
  Makefile
  chatter_server/cmd/development/main.go
  chatter_server/internal/chatrooms/chatrooms.go
Due: gofmt

README updated
  Makefile
  README.md
Due: none

working communication
  .vscode/launch.json
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter_server/cmd/development/main.go
  chatter_server/go.mod
  chatter_server/go.sum
  chatter_server/internal/chatrooms/constants.go
  chatter_server/internal/chatrooms/member.go
  chatter_server/internal/chatrooms/message.go
  chatter_server/internal/chatrooms/room.go
Due: gofmt

working chat
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/HistoryView/HistoryView.tsx
  chatter-client/src/data/types/Message.ts
  chatter-client/src/data/types/index.ts
  chatter_server/internal/chatrooms/constants.go
  chatter_server/internal/chatrooms/member.go
  chatter_server/internal/chatrooms/message.go
  chatter_server/internal/chatrooms/room.go
Due: gofmt

working chat
  chatter_server/internal/chatrooms/message.go
Due: gofmt

vite added
  chatter-client/README.md
  chatter-client/index.html
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/public/favicon.ico
  chatter-client/public/index.html
  chatter-client/public/logo192.png
  chatter-client/public/logo512.png
  chatter-client/public/manifest.json
  chatter-client/public/robots.txt
  chatter-client/public/vite.svg
  chatter-client/src/index.tsx
  chatter-client/src/main.tsx
  chatter-client/src/reportWebVitals.ts
  chatter-client/tsconfig.json
  chatter-client/tsconfig.node.json
  chatter-client/vite.config.ts
Due: none

fixup! vite added
  chatter-client/.eslintrc.js
Due: prettier, eslint

fixup! fixup! vite added
  chatter-client/.eslintrc.js
Due: prettier, eslint

fixup! fixup! fixup! vite added
  chatter-client/.eslintrc.cjs
Due: none

fixup! fixup! fixup! fixup! vite added
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

Path conditions:
  prettier: any of: ^.*\.(js|jsx)$
  eslint: any of: ^.*\.(js|jsx)$
  gofmt: any of: ^.*\.go$
