Repository gonzur/chatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, gofmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: format javascript files
        language: system
        entry: npx prettier --write
        files: ^.*\.(js|jsx|ts|tsx|css)$
      - id: eslint
        name: lint javascript files
        language: system
        entry: npx eslint --fix
        files: ^.*\.(js|jsx|ts|tsx)$
      - id: gofmt
        name: format golang files
        language: system
        entry: gofmt -s -w
        files: ^.*\.go$
      - id: golangci
        name: lint golang files
        language: system
        entry: bash -c 'cd chatter_server; golangci-lint run'
        pass_filenames: false

fixup! fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/.eslintrc.cjs
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.test.tsx
Due: prettier, eslint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/src/components/ChatClient/ChatClient.test.tsx
Due: prettier, eslint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/.eslintrc.cjs
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/.eslintrc.cjs
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! vite added
  chatter-client/src/global.d.ts
Due: prettier, eslint

package cleanup
  .github/workflows/protect-develop.yml
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/components/HistoryView/HistoryView.tsx
  chatter-client/tsconfig.json
Due: prettier, eslint

changed over to vite
  Makefile
  chatter-client/src/components/ChatClient/ChatClient.module.css
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: prettier, eslint

memoized functions
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatInput/ChatInput.tsx
Due: prettier, eslint

eww performance
  chatter-client/src/components/ChatInput/ChatInput.tsx
Due: prettier, eslint

pls stop
  .vscode/settings.json
  chatter-client/src/setupTests.ts
Due: prettier, eslint

no more tests for now
  .github/workflows/protect-develop.yml
Due: none

golang update
  .github/workflows/protect-develop.yml
Due: none

update
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter_server/go.mod
  chatter_server/go.sum
Due: none

aria label added
  chatter-client/src/components/ChatInput/ChatInput.tsx
Due: prettier, eslint

formatting errors fixed
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: prettier, eslint

restyle sender bubble
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: prettier, eslint

cleanup
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.tsx
  chatter-client/src/colors.css
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/HistoryView/HistoryView.module.css
Due: prettier, eslint

cleanup go
  chatter_server/.gitignore
  chatter_server/cmd/chatter.go
  chatter_server/go.mod
  chatter_server/go.sum
Due: gofmt

continue on deserial err
  chatter_server/internal/chatrooms/member.go
Due: gofmt

adds new styling and cleanup
  chatter-client/.gitignore
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatInput/ChatInput.module.css
  chatter-client/src/components/ChatInput/ChatInput.tsx
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/HistoryView/HistoryView.tsx
Due: prettier, eslint

keep updated
  chatter_server/go.mod
  chatter_server/go.sum
Due: none

fixup! keep updated
  chatter-client/package-lock.json
  chatter-client/package.json
Due: none

Room browser styled
  chatter-client/package-lock.json
  chatter-client/package.json
  chatter-client/src/App.tsx
  chatter-client/src/components/RoomBrowser/RoomBrowser.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
  chatter-client/src/components/RoomBrowser/index.ts
  chatter-client/src/components/index.ts
Due: prettier, eslint

room endpoint created
  chatter_server/go.mod
  chatter_server/go.sum
  chatter_server/internal/chatrooms/chatrooms.go
  chatter_server/internal/chatrooms/chatrooms_test.go
  chatter_server/internal/chatrooms/routes.go
Due: gofmt

search rooms, restyle
  chatter-client/.eslintrc.cjs
  chatter-client/src/App.tsx
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.module.css
  chatter-client/src/components/HistoryView/HistoryView.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
Due: prettier, eslint

grouped rooms
  chatter-client/src/components/RoomBrowser/RoomBrowser.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
Due: prettier, eslint

refactor backend
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter_server/internal/chatrooms/chatrooms.go
  chatter_server/internal/chatrooms/member.go
Due: prettier, eslint, gofmt

message into heap
  chatter_server/internal/chatrooms/member.go
Due: gofmt

room adder
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.module.css
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
Due: prettier, eslint

fixup! room adder
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
Due: prettier, eslint

style spillover
  chatter-client/src/components/ChatClient/ChatCLient.tsx
  chatter-client/src/components/ChatClient/ChatClient.module.css
Due: prettier, eslint

fix url, active inactive
  chatter-client/src/components/RoomBrowser/RoomBrowser.tsx
  chatter-client/src/data/constants.ts
  chatter_server/cmd/chatter.go
Due: prettier, eslint, gofmt

begin user back end
  chatter_server/cmd/chatter.go
  chatter_server/go.mod
  chatter_server/go.sum
  chatter_server/internal/auth/auth.go
  chatter_server/internal/auth/session.go
  chatter_server/internal/db/db.go
Due: gofmt

auth backend written untested
  chatter_server/internal/auth/auth.go
Due: gofmt

fixup! auth backend written untested
  chatter_server/internal/auth/auth.go
  chatter_server/internal/auth/session.go
Due: gofmt

fix sessoin key creation
  chatter_server/internal/auth/session.go
Due: gofmt

login structure
  chatter-client/src/components/Login/Login.tsx
  chatter-client/src/components/Login/index.ts
Due: prettier, eslint

login patched
  chatter-client/.eslintrc.cjs
  chatter-client/src/App.tsx
  chatter-client/src/components/Login/Login.module.css
  chatter-client/src/components/Login/Login.tsx
  chatter-client/src/components/index.ts
  chatter_server/.gitignore
  chatter_server/cmd/chatter.go
  chatter_server/internal/auth/auth.go
Due: prettier, eslint, gofmt
